body {
	margin: 0;
	padding: 0;
	font: 70% "Trebuchet MS", sans-serif;
}

#wrapper {
	width: 860px;
	height: 800px;
	text-align: center;
	margin: 0 auto;
	border-style: solid;
	border-color: green;
	border-width: 0 1px 1px 1px;
}
#header {
	background-image: url("/static/images/header.jpg");
	width: 860px;
	height: 260px;
}
#canvas_space {
	position: relative;
	float: left;
	width: 640px;
	height: 480px;
	margin-left: 10px;
	border: 1px solid black;
}
#imageTemp {
	position: absolute;
	top: 1px;
	left: 1px;
}
#algoselect {
	position: relative;
	float: left;
	width: 200px;
	text-align: left;
}

.demoHeaders { margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}


.ResultRow {
	font: 120% "Trebuchet MS", sans-serif;
}

.ResultIcon {

}

.ResultName {
	
}

.ResultProba {
	
}
